<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Gastos</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content >
        <div class="post" *ngFor="let post of arrayPosts" [routerLink]="['/ingresarpago',post.id]">
          <p>{{post.nomgas}}</p> {{post.valgas}}
        </div>
        <ion-button [routerLink]="['/home']">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
          Regresar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
