<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">gastos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="ionicForm" (ngSubmit)="submitForm()">

          <ion-input label="Gasto" placeholder="Ingrese nombre Gasto" formControlName="nomgas">
          </ion-input>

          <ion-button type="submit">

            Guardar
          </ion-button>
          <ion-button [routerLink]="['/home']">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
            Regresar
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Gastos</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="post" *ngFor="let post of arrayPosts">
          <p>{{post.nomgas}}</p>
        </div>
      </ion-card-content>
    </ion-card>

  </div>


</ion-content>