<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Presupuesto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{nomtit}}</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="docVis">
        <ion-input placeholder="Documento" [(ngModel)]="docume"></ion-input>
        <ion-button (click)="logeo()" expand="block">Guardar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content *ngIf="btnVis">
        <ion-button (click)="irPagos()">
          <ion-icon name="cash-outline"></ion-icon>
          Pagos
        </ion-button>
        <ion-button (click)="irGastos()">
          <ion-icon name="newspaper-outline"></ion-icon>
          Gastos
        </ion-button>
        <ion-button (click)="irGrupos()">
          <ion-icon name="cash-outline"></ion-icon>
          Grupos
        </ion-button>
        <ion-button (click)="salir()">
          <ion-icon name="exit-outline"></ion-icon>
          Salir
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>



</ion-content>